@using TechAcadStudentsMVC.Models
@model List<Instructor>

    <h2>
        Instructors
    </h2>

    @{
        foreach(Instructor instructor in Model)
        {
            <div>
                <h4>
                    @instructor.FirstName @instructor.LastName
                </h4>
                <p>
                    ID: @instructor.Id
                </p>
            </div>
    }
    }