@{
    ViewData["Title"] = "Bubblegum Server Time";
}

<div class="bubblegum-container text-center mt-5">
    <h1 class="bubblegum-title">💖 Bubblegum Time 💖</h1>

    <p class="bubblegum-text">Click the button to see the current server time!</p>

    <!-- Button to get server time -->
    <button id="getTimeBtn" class="bubblegum-btn btn btn-light btn-lg mt-3">
        Show Server Time
    </button>

    <!-- Frame where the time will appear -->
    <div id="timeFrame" class="bubblegum-frame mt-4" style="display:none;">
    </div>
</div>